# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle chameleon'
      'command': 'chameleon:toggle'
    }
  ]
  '.tree-view': [
    {'type': 'separator'}
    {label: '上传模块'}
    {'type': 'separator'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'chameleon'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'chameleon:toggle'
        }
      ]
    ]
  }
  {
    'label':'变色龙QDT'
    'submenu':[
      {
        'label':'项目'
        'submenu':[
          {
            'label':'创建项目',
            'command':'chameleon:create-project'
          }
          {
            'label':'构建应用'
          }
        ]
      }
      {
        'label':'模块'
        'submenu':[
          {
            'label':'创建模块'
          }
          {
            'label':'发布模块'
          }
          {
            'label':'下载模块'
          }
        ]
      }
      {
        'label':'调试'
        'submenu':[
          {
            'label':'启动模拟器调试'
          }
        ]
      }
      {
        'label':'工具'
        'submenu':[
          {
            'label':'包依赖下载'
          }
          {
            'label':'webpack'
          }
          {
            'label':'自动化集成'
          }
        ]
      }
      {
        'label':'配置'
        'submenu':[
          {
            'label':'模块配置'
          }
          {
            'label':'应用配置'
          }
          {
            'label':'全局配置'
          }
        ]
      }
    ]
  }
]
