# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  # 'atom-text-editor': [
  #   {
  #     'label': 'Toggle chameleon'
  #     'command': 'chameleon:toggle'
  #   }
  # ]
  '.tree-view': [
    {'type': 'separator'}
    {
      'label': '上传模块'
      'command':'chameleon:publish-module'
    }
    {
      'label':'模块配置'
      'command':'chameleon:configure-module'
    }
    # {
    #   'label':'应用配置'
    #   'command':'chameleon:configure-application'
    # }
    {
      'label':'构建应用'
      'command':'chameleon:bulid-project'
    }
    {'type': 'separator'}
  ]
'menu': [
  # {
  #   'label': 'Packages'
  #   'submenu': [
  #     'label': 'chameleon'
  #     'submenu': [
  #       {
  #         'label': 'Toggle'
  #         'command': 'chameleon:toggle'
  #       }
  #     ]
  #   ]
  # }
  {
    'label':'变色龙QDT'
    'submenu':[
      {
        'label':'应用'
        'submenu':[
          {
            'label':'创建应用',
            'command':'chameleon:create-project'
          }
          {
            'label':'构建应用',
            'command':'chameleon:bulid-project'
          }
          {
            'label':'上传应用',
            'command':'chameleon:upload-project'
          }
        ]
      }
      {
        'label':'模块'
        'submenu':[
          {
            'label':'创建模块',
            'command':'chameleon:create-module'
          }
          {
            'label':'上传模块',
            'command':'chameleon:publish-module-select-path'
          }
          # {
          #   'label':'下载模块'
          # }
        ]
      }
      # {
      #   'label':'调试'
      #   'submenu':[
      #     {
      #       'label':'启动模拟器调试'
      #     }
      #   ]
      # }
      # {
      #   'label':'工具'
      #   'submenu':[
      #     {
      #       'label':'包依赖下载'
      #     }
      #     {
      #       'label':'webpack'
      #     }
      #     {
      #       'label':'自动化集成'
      #     }
      #   ]
      # }
      {
        'label':'设置'
        'command':'chameleon:settings'
      }
      # {
      #   'label':'登录'
      #   'command':'chameleon:login'
      # }
      # {
      #   'label':'打开项目'
      #   'command':'chameleon:openSource'
      # }
    ]
  }
]
