// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@border_color:#858585;
@close_icon_size:2.5em;
@item-logo-size:120px;

atom-panel.modal.from-top.down{
  top:100px;
  padding: 10px;
}
.modal.down:before{
  .border_radius();
}

.chameleon{
  h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @border_color;
  }
  .close-view {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    &::before{
      font-size:@close_icon_size;
      margin:0;
    }
  }
  .box{
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
  }
  .btn.prev{
    margin-right: 10px;
  }
}
atom-panel.modal > .login-box{
  width: 100%;
}
.login-box{
  padding: 20px 15px;
  border: 1px solid @border_color;
  width: 415px;
  .border_radius();

  .desc{
    font-size: 2em;
    width: 55px;
    margin: 0;
    color: #c8d5ee;
  }
  .info{
    padding-left: 60px;
  }
  .checkBox_label_view{
    font-size:12px;
    padding-bottom:2px;
  }
  .label_view{
    font-size:18px;
  }
  .loginBtn{
    font-size:12px;
    margin:5px;
  }
  .cancelBtn{
    font-size:12px;
  }
  atom-text-editor[mini] {
    width: 100%;
  }
}

.create-project{
  .item{
    padding: 10px;
    cursor: pointer;
    &:hover{
      .hover();
    }
  }
  .title{

  }
}

.new-project{

  .new-item{
    width: 33%;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      .hover();
    }
  }
  .openFolder{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
  }
  .new-template{
    width: 15%;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      .hover()
    }
  }
  .new-template img{
    width: 100%;
    height: inherit;
  }
  .template-item{
    width: 30%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      .hover()
    }
  }
  .template-item img{
    width: 100%;
    height: inherit;
  }
}

.sync-project{
  .add-icon{
    .pic();
    line-height: @item-logo-size;
    border: 1px solid @border_color;

    &::before{
      font-size:10em;
      width:1em;
      margin:5px auto;
      height: 1em;
    }
  }
}

.create-module{
  .openFolder{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
  }
  select {
    color: #9da5b4;
    background-clip: content-box;
    background-color: #353b45;
    // border-radius: 5px;
    border-color: #181a1f;
    font-size: 1.25em;
    height: 2em;
    padding: 0;
    &:hover{
      box-shadow: none;
      background-color: #3a3f4b;
      border-color: #181a1f;
    }
    &:focus{
      box-shadow: none;
      background-color: #3a3f4b;
      border-color: #181a1f;
    }
  }
}

.pic{
  width: @item-logo-size;
  height: @item-logo-size;
  margin: 20px auto;
  display: block;
}

.hover{
  background-color: rgba(255, 255, 255, .1);
  .border_radius();
}
.select{
  .hover();
}
.border_radius(@radius:6px){
  border-radius: @radius;
}

.configure-module{
  .step{
    display: none;
  }
  .step.active{
    display: block;
  }
  .item{
    padding: 10px;

    &:hover{
      .hover();
    }
  }
}

.loading-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.chameleonsettingsview{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #9da5b4;
  background-color: #282c34;
  .settings-menu{
    flex: 1.6;
    min-width: 180px;
    max-width: 240px;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 10px;
    background-color: #2c313a;
    border-right: 1px solid #181a1f;
    overflow-x: auto;
    position: relative;
    min-width: 15em;
    max-width: 20em;
    border-width: 0 1px 0 0;
    border-image: linear-gradient(#282c34 10px, #181a1f 200px) 0 1 0 0 stretch;
    background: #282c34;
    
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li{
      a{
        display: block;
        height: 40px;
        line-height: 30px;
        text-decoration: none;
        padding: 5px 15px;
        color: #9da5b4
      }
    }
    li.active{
      a{
        color: #ffffff;
        background-color: #3a3f4b;
      }
    }
    li:hover{
      a{
        color: #d7dae0;
        background-color: #31363f;
      }
    }
  }
  .settingsPanel{
    flex: 8.4;
    flex-flow: column;
    display: flex;
    position: relative;
    padding: 4em;
    overflow: auto;
  }
  .codePack-card{
    max-width: 60em;
    border: 1px solid #181a1f;
    background: #333842;
    border-radius: 5px;
    padding: 5px 20px;
    overflow: hidden;
    margin-bottom: 10px;
    h2{
      a{
        color: #fff;
      }
    }
    .btn-group{
      float: right;
    }
  }
  .codePack-card:hover{
    background: #373d48;
  }
  .code-panel-header{
    max-width: 60em;
    overflow: hidden;
    h2{
      float: left;
    }
    .addNewCode{
      float: right;
      position: relative;
      top: 17px;
    }
  }
  .tempList{
    margin-top: 50px;
    ul{
      margin: 0;
      padding: 0;
    }
  }

}
