// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@border_color:#858585;
@close_icon_size:2.5em;

atom-panel.modal.from-top.down{
  top:100px;
  padding: 10px;
}
.modal.down:before{
  .border_radius();
}

.chameleon{
  h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @border_color;
  }
  .close-view {
    position: absolute;
    top: 4px;
    right: 4px;

    &::before{
      font-size:@close_icon_size;
      margin:0;
    }
  }
  .box{
    min-height: 300px;
    max-height: 400px;
  }
  .btn.prev{
    margin-right: 10px;
  }
}
atom-panel.modal > .login-box{
  width: 100%;
}
.login-box{
  padding: 20px 15px;
  border: 1px solid @border_color;
  width: 415px;
  .border_radius();

  .desc{
    font-size: 2em;
    width: 55px;
    margin: 0;
    color: #c8d5ee;
  }
  .info{
    padding-left: 60px;
  }
  atom-text-editor[mini] {
    width: 100%;
  }
}

.border_radius(@radius:6px){
  border-radius: @radius;
}
